---

---
<footer 
    class="bg-amber-400 text-amber-950 flex flex-col items-center text-center font-semibold p-2"
>
    <span>
        We are a small group of loving art devs who only want to show what they like most.
    </span>
    <span>
        © 2025 Gloglogabgalab. All rights reserved.
    </span>
</footer>