---
import Bitriangles from "../Bitriangles.astro"
---
<header class= " text-amber-950 bg-amber-400 relative flex flex-col items-center justify-between gap-1 font-bold">
    <Bitriangles/>
    <a 
        class="w-full m-0 no-underline text-current"
        href="/"
    >
        <h1 class="text-center text-3xl m-3">
            Gloglogabgalab
        </h1>
    </a>
</header>