---
import { getCollection } from 'astro:content';
import BookCard from '../BookCard.astro';

const books = await getCollection('books');
const sortedBooks = books.sort((a , b) => a.data.popularity - b.data.popularity);
const recommendedBooks = sortedBooks.slice(0, 4);
---
<section 
    aria-label="Libros Recomendados" 
>
    <h3 class="text-2xl text-center font-semibold m-0">
        Recommended books
    </h3>
    <div class="grid auto-rows-auto gap-2 sm:gap-4 justify-center items-center">
            {
                recommendedBooks.map(book => {
                    return (
                        <BookCard 
                            slug={book.slug}
                            data={book.data}
                        />
                    )
                })
            }
        </div>
    </div>
</section>