---
import { datalist } from "../../content/datalist";
import InputSearch from "../InputSearch.astro";
---
<form
    class="p-2 flex justify-center"
>
    <InputSearch
        id="search"
        name="search"
        className="rounded-r-none"
        placeholder="Search some books..."
        list="books"
    />
    <button
        type="submit"
        class="rounded-r-sm border-none text-lg bg-linear-60 from-amber-500 via-amber-400 to-amber-400 text-amber-950 hover:to-amber-500 cursor-pointer"
    >
        Search
    </button>
    <datalist
        id="books"
    >
        {
            datalist.map((book) => {
                return (
                    <option value={book.slug}>
                        {book.title}
                    </option>
                )
            })
        }
    </datalist>
</form>

<script>
const form = document.querySelector('form');
form?.addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const searchTerm = formData.get('search')?.toString();

    if (!searchTerm || searchTerm.length === 0) return;

    const url =  new URL("/search", window.location.origin);
    url.searchParams.set('q', searchTerm);
    window.location.assign(url.toString())
})
</script>