---
const SPAIN = 'ES'

const country = 'ES'

const storeCountry = country === SPAIN ? 'spain' : 'usa'
const countryName = country === SPAIN ? 'España' : 'Estados Unidos'

const { buy } = Astro.props
const url = buy[storeCountry]
---

<a
    href={url}
    title="Comprar Libro"
    target="_blank"
    rel="noopener no referrer"
    class="sm:px-4 sm:py-2 sm:w-fit py-1 no-underline border-none flex flex-col items-center bg-linear-30 from-amber-300 via-amber-400 to-amber-500 hover:to-amber-700 hover:via-amber-600 hover:from-amber-500 text-neutral-900 font-bold rounded-lg border transition ease-in-out duration-200 justify-center text-center"
>
    Comprar en Mercado Libre🤑
</a>