---
const SPAIN = 'ES'

const country = Astro.request.headers.get('X-Vercel-IP-country') ?? 'ES'

const storeCountry = country === SPAIN ? 'spain' : 'usa'
const countryName = country === SPAIN ? 'España' : 'Estados Unidos'

const { buy } = Astro.props
const url = buy[storeCountry]
---

<a
    href={url}
    title="Comprar Libro"
    target="_blank"
    rel="noopener no referrer"
    class="text-balance inline-flex gap-2 items-center bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500 transition duration-200 ease-in-out hover:scale-105 justify-center text-center"
>
    Comprar en Mercado Libre {countryName}
</a>