---
import Bitriangles from "./Bitriangles.astro"
---
<header class= " text-amber-950 flex flex-col items-center justify-between gap-1">
    <div class="bg-amber-300 flex w-full relative">
        <Bitriangles />
        <a 
        class="w-full no-underline text-current"
        href="/">
            <h1 class="text-center text-4xl m-3">
                Gloglogabgalab
            </h1>
        </a>
    </div>
</header>