---
import Bitriangles from "./Bitriangles.astro"
---
<header class= " text-amber-950 flex flex-col items-center justify-between gap-1">
    <div class="bg-amber-300 flex w-full relative">
        <Bitriangles />
        <h1 class="text-center w-full text-4xl m-3">
            Gloglogabgalab
        </h1>
    </div>
    <input 
        class="rounded-sm text-lg w-xs bg-amber-100 border-0"
        type="text" 
        placeholder="Search some books..."
    />
</header>